body{
  width:100vh;
  height:100vh;
  overflow: hidden;
}
.mu-form-item__has-label,.mu-form-item-content{
    height: 20px;
  }
  .mu-form-item-label{
    line-height: 15px;
  }
  .mu-form{
    padding: 10px 0!important;
  }
  .mu-form-item{
    margin: 0;
    padding: 0 20px;
  }
  .mu-text-field-input{text-align: center!important}
  input[readonly=readonly]{
    text-align: center!important
  }
  .mu-table{
    height: 70vh!important
  }
  .my-search-input{
    border: 1px solid #CCC!important;
    margin-right: 5px;
  }
  .a-delete{ margin: 10px; color:red}

.mu-table tr{
  height: 20px!important;
}
.mu-table th,td{
  height: 30px!important;
  padding: 0 1px!important; 
}
 
th,td{
  text-align: center!important;
}
.is-hover{
  background-color: #2196f3!important;
}